	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/02/2020 12:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-home:before { content: "\f100"; }
.flaticon-bell:before { content: "\f101"; }
.flaticon-chat:before { content: "\f102"; }
.flaticon-user:before { content: "\f103"; }
.flaticon-supermarket:before { content: "\f104"; }
.flaticon-gear:before { content: "\f105"; }
.flaticon-mail:before { content: "\f106"; }
.flaticon-document:before { content: "\f107"; }
.flaticon-user-1:before { content: "\f108"; }
.flaticon-home-1:before { content: "\f109"; }
.flaticon-supermarket-1:before { content: "\f10a"; }
.flaticon-bell-1:before { content: "\f10b"; }
.flaticon-portfolio:before { content: "\f10c"; }
.flaticon-settings:before { content: "\f10d"; }
.flaticon-chat-1:before { content: "\f10e"; }
.flaticon-shopping-bag:before { content: "\f10f"; }
.flaticon-user-2:before { content: "\f110"; }
.flaticon-settings-1:before { content: "\f111"; }