	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/12/2019 16:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-ux-design:before { content: "\f100"; }
.flaticon-data:before { content: "\f101"; }
.flaticon-product:before { content: "\f102"; }
.flaticon-startup:before { content: "\f103"; }
.flaticon-promotion:before { content: "\f104"; }
.flaticon-email:before { content: "\f105"; }