/*==========================================
        GOOGLE FONTS IMPORT LINK
           # Poppins fonts.

---------------------------------------------
Template Name: Bizzcory Corporate Protfolio.
Author Name: Ingenious-Team.
Version: 1.00
---------------------------------------------

--------------------------------
TABLE OF CONTENT THIS TAMPLETE
--------------------------------
01. COMMON CSS PART
02. PRELOADER PART
03. BACK TO TOP BUTTON PART
04. MENU PART
05. BANNER PART
06. ABOUT PART
07. SERVICE PART
08. PROTFOLIO PART
09. TEAM PART
10. VIDEO PART
11. COUNTER PART
12. TESTIMONIAL PART
13. PRICING PART
14. PRODUCT PART
15. FOOTER PART

===========================================*/



/*==========================================
          COMMON CSS PART STRAT
===========================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none !important;
}

img{
    vertical-align: middle;
}

ul,
ol{
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0 !important;
    padding: 0 !important;
}

h1{ color: #2c3754;
    font-size: 56px !important;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif !important;
}

h2{
    color: #222;
    font-size: 40px !important;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 55px !important;
}

p{
    color: #444;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
}

h4{
    color: #c58bea;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px !important;
}

html,
body{
    scroll-behavior: smooth;
}
/*==========================================
          COMMON CSS PART END
===========================================*/




/*==========================================
           PRELOADER PART START
===========================================*/
.preloader{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 100px solid #c58bea;
  border-color: #c58bea transparent #c58bea transparent;
  animation: lds-hourglass 1.5s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.load_finish{
    display: none;
}
/*==========================================
           PRELOADER PART END
===========================================*/




/*==========================================
        BACK TO TOP BUTTON PART START
===========================================*/
.top_btn i{
    color: #fff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(90deg, #9757c9 0%, #c58bea 100%);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 1;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    animation: hasan 2s linear infinite;
}

@keyframes hasan{
    20%{
        margin-top: 10px;
    }
    30%{
        margin-bottom: 30px;
    }
    60%{
        margin-bottom: 0px;
    }
    100%{
        margin-top: 0px;
    }
}
/*==========================================
        BACK TO TOP BUTTON PART END
===========================================*/





/*==========================================
            MENU PART START
===========================================*/
.navbar{
    background: transparent;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 20px 0px !important;
}

.menu_fix {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 111;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.navbar a img{
    width: 200px;
    height: auto;
}

.navbar ul li{
    margin-left: 10px !important;
    margin-top: 7px !important;
}

.navbar ul li a{
    color: #828282;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.navbar ul li a:hover{
    color: #c58bea;
}

.navbar ul li.active a{
    color: #c58bea;
}

.navbar a.get_btn{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 12px 28px;
    background: #c58bea;
    margin-left: 50px;
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.navbar a.get_btn:hover{
    transform: scale(1.05);
}
/*==========================================
             MENU PART END
===========================================*/



/*==========================================
             BANNER PART START
===========================================*/
#banner_part{
    background: url(../images/banner_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px 0px;
}

.banner_text{
    width: 100%;
    height: auto;
    padding-top: 240px;
}

.banner_text p{
    margin-top: 15px !important;
    width: 100%;
}

.banner_text a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 12px 28px;
    background: #c58bea;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.banner_text a i{
    font-size: 16px;
    margin-left: 10px;
}

.banner_text a:hover{
    color: #fff;
    transform: scale(1.05);
}

.banner_img img{
    width: 100%;
    height: auto;
    padding-top: 165px;
}
/*==========================================
             BANNER PART END
===========================================*/



/*==========================================
             ABOUT PART START
===========================================*/
#about_part{
    background: #fff;
    padding: 120px 0px 120px;
}

.about_img img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.about_text h4,
.about_text h2,
.about_text p{
    width: 100%;
}

.about_text h2 span{
    display: block;
}

.about_text p span{
    display: block;
    margin-top: 30px;
}

.about_text a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 12px 28px;
    background: #c58bea;
    margin-top: 55px;
    display: inline-block;
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.about_text a i{
    font-size: 16px;
    margin-left: 10px;
}

.about_text a:hover{
    color: #fff;
    transform: scale(1.05);
}
/*==========================================
             ABOUT PART END
===========================================*/




/*==========================================
             SERVICE PART START
===========================================*/
#service_part{
    background: #f9f3fd;
    padding: 80px 0px;
}

.service_heading{
    text-align: center;
}

.service_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    margin-bottom: 35px;
}

.service_icon i{
    color: #fff;
    font-size: 35px;
}

.shadow_color1{
    background: #4674f1;
    background: linear-gradient(120deg, #3264ed 0%, #648bf6 100%);
    box-shadow: 0px 10px 30px 1px rgba(62, 110, 239, 0.5);
}

.shadow_color2{
    background: #22c2ae;
    background: linear-gradient(120deg, #22c2ae 0%, #7cdbcf 100%);
    box-shadow: 0px 10px 30px 1px rgba(34, 194, 174, 0.5);
}

.shadow_color3{
    background: #ff904c;
    background: linear-gradient(120deg, #ff904c 0%, #ffaf81 100%);
    box-shadow: 0px 10px 30px 1px rgba(255, 144, 76, 0.5);
}

.shadow_color4{
    background: #fc3a51;
    background: linear-gradient(120deg, #fc3a51 0%, #fd6477 100%);
    box-shadow: 0px 10px 30px 1px rgba(252, 58, 81, 0.5);
}

.shadow_color5{
    background: #c8cf0b;
    background: linear-gradient(120deg, #c8cf0b 0%, #e9f132 100%);
    box-shadow: 0px 10px 30px 1px rgba(200, 207, 11, 0.5);
}

.shadow_color6{
    background: #ff47f9;
    background: linear-gradient(120deg, #ff47f9 0%, #ff80f9 100%);
    box-shadow: 0px 10px 30px 1px rgba(255, 71, 249, 0.5);
}

.service h3{
    color: #222;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-bottom: 25px !important;
}

.service_ghape{
    margin-top: 55px;
}

.miron_block{
    display: none;
}
/*==========================================
              SERVICE PART END
===========================================*/



/*==========================================
            PROTFOLIO PART START
===========================================*/
#prot_part{
    background: #fff;
    padding: 120px 0px;
}

.prot_heading{
    text-align: center;
}

.prot_small{
    position: relative;
}

.prot_small img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prot_overlay{
    width: 100%;
    height: 100%;
    background: rgba(172, 124, 203, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    text-align: center;
    transform: scale(0);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_small:hover .prot_overlay{
    transform: scale(1);
    transform-origin: center;
}

.prot_overlay a i{
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prot_overlay h5{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.prot_big{
    position: relative;
}

.prot_big img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prot_big:hover .prot_overlay{
    transform: scale(1);
    transform-origin: center;
}

.prot_btn{
    text-align: center;
}

.prot_btn a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 12px 28px;
    background: #c58bea;
    margin-top: 55px;
    display: inline-block;
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_btn a i{
    font-size: 16px;
    margin-left: 10px;
}

.prot_btn a:hover{
    color: #fff;
    transform: scale(1.05);
}

.prot_ghape{
    margin-top: 30px;
}
/*==========================================
             PROTFOLIO PART END
===========================================*/




/*==========================================
             TEAM PART START
===========================================*/
#team_part{
    background: #f9f3fd;
    padding: 80px 0px;
}

.team_heading{
    text-align: center;
}

.team_member{
    position: relative;
    overflow: hidden;
}

.team_member img{
    width: 100%;
    height: auto;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_member:hover img{
    transform: scale(1.08);
}

.team_overlay{
    width: 100%;
    height: 100%;
    background: rgba(22, 21, 22, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    transform: scale(0);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_member:hover .team_overlay{
    transform: scale(1);
    transform-origin: center;
}

.team_content{
    width: 200px;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team_overlay img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.team_overlay h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 25px !important;
}

.team_overlay h6{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px !important;
}

.team_overlay ul li{
    display: inline-block;
    margin: 25px 5px 0px !important;
}

.team_overlay ul li a i{
    color: #868586;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_overlay ul li a i:hover{
    color: #fff;
    background: #c58bea;
}
/*==========================================
              TEAM PART END
===========================================*/




/*==========================================
              VIDEO PART START
===========================================*/
#video_part{
    background: #fff;
    padding: 0px 0px 0px;
}

.video{
    position: relative;
    transform: translateY(120px);
}

.video img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.video_overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.video_overlay a i{
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    font-size: 32px;
    color: #c58bea;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 5px 10px rgba(197, 139, 234, 0.7);
    animation: miron 3s linear infinite;
}

@keyframes miron{
    
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 0px rgba(255, 255, 255, 0.7)
    }
    80%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.0)
    }
    100%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.)
    }
}

.video_overlay h5{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*==========================================
               VIDEO PART END
===========================================*/




/*==========================================
            COUNTER PART START
===========================================*/
#counter_part{
    background: linear-gradient(45deg, #be8ae6 0%, #b27eda 50%, #b17dd9 100%);
}

.counter_shape{
    background: url(../images/counter_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 230px 0px 120px;
}

.count{
    text-align: center;
}

.count span{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.count h5{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
/*==========================================
            COUNTER PART END
===========================================*/




/*==========================================
          TESTIMONIAL PART START
===========================================*/
#testi_part{
    background: #fff;
    padding: 120px 0px;
}

.testi_heading{
    text-align: center;
}

.testi_content{
    width: 100%;
    padding: 30px 200px;
    background: #c58bea;
    text-align: center;
    border-radius: 10px;
    margin: 0px 5px;
    position: relative;
}

.testi_content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0px 0px 25px 0px;
    display: inline-block !important;
}

.rating{
    width: 70px;
    height: 40px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 56%;
    transform: translateX(-50%);
}

.rating i{
    color: #ffba00;
    font-size: 18px;
}

.rating span{
    color: #ffba00;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.testi_content p{
    color: #fff;
    line-height: 26px;
}

.testi_content h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 15px !important;
}

.testi_content h6{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 7px !important;
}

.dandik{
    color: #c58bea;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 10px 30px 2px rgba(151, 87, 201, 0.6);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.dandik:hover{
    color: #fff;
    background: #9757c9;
}

.bamdik{
    color: #c58bea;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 10px 30px 2px rgba(151, 87, 201, 0.6);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.bamdik:hover{
    color: #fff;
    background: #9757c9;
}

.slick_slider ul{
    display: none !important;
}
/*==========================================
          TESTIMONIAL PART END
===========================================*/




/*==========================================
           PRICING PART START
===========================================*/
#price_part{
    background: #fff;
    padding: 0px 0px 120px;
}

.price_heading{
    text-align: center;
}

.price_div{
    text-align: center;
    padding: 50px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_div h5{
    color: #c58bea;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 5px 20px !important;
    background: #faf6fd;
    margin-bottom: 25px !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_div h6{
    color: #c58bea;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px !important;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_div h6 span{
    font-size: 14px;
    font-weight: 400;
}

.price_div h6:after{
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background: #c0c0c0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_div ul li{
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_btn a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 12px 28px;
    background: #c58bea;
    margin-top: 35px;
    display: inline-block;
    box-shadow: 0px 10px 30px 1px rgba(197, 139, 234, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price_btn a i{
    font-size: 18px;
    margin-left: 10px;
}

.price_btn a:hover{
    color: #fff;
    transform: scale(1.05);
}

.price_div:hover{
    background: #c48ae9;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.price_div:hover h5,
.price_div:hover h6,
.price_div:hover ul li{
    color: #fff;
}

.price_div:hover h5{
    background: #d3a8ef;
}

.price_div:hover h6:after{
    background: #fff;
}

.price_div:hover .price_btn a{
    background: #fff;
    color: #c48ae9;
}
/*==========================================
            PRICING PART END
===========================================*/




/*==========================================
            PRODUCT PART START
===========================================*/
#product_part{
    background: #fff;
    padding: 0px 0px 120px;
}

.product{
    width: 100%;
    height: 200px;
    background: #c48ae9;
    border-radius: 10px;
}

.product_text h5{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 60px 0px 0px 60px !important;
}

.product_btn{
    text-align: right;
}

.product_btn a{
    color: #c58bea;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 12px 28px;
    background: #fff;
    display: inline-block;
    margin: 70px 60px 0px 0px;
    box-shadow: 0px 10px 30px 5px rgba(151, 87, 201, 0.5);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.product_btn a:hover{
    color: #fff;
    background: #9757c9;
    transform: scale(1.05);
}

.product_btn a i{
    font-size: 18px;
    margin-left: 10px;
}
/*==========================================
             PRODUCT PART END
===========================================*/





/*==========================================
             FOOTER PART START
===========================================*/
#footer_part{
    background: #151618;
    padding: 80px 0px 15px;
}

.footer_logo{
    text-align: center;
}

.footer_menu ul li{
    display: inline-block;
    margin: 50px 30px !important;
}

.footer_menu ul li a{
    color: #343537;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.footer_menu ul li a:hover{
    color: #c48ae9;
}

.footer_menu ul li a.f_menu_active{
    color: #c48ae9; 
}

.footer_icon ul li{
    display: inline-block;
    margin: 0px 15px 75px !important;
}

.footer_icon ul li a i{
    color: #737375;
    font-size: 20px;
    background: #303133;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.footer_icon ul li a i:hover{
    color: #fff;
    background: #c48ae9;
}

.copyright{
    text-align: center;
    position: relative;
}

.copyright:after{
    position: absolute;
    content: "";
    top: -15px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #303133;
}

.copyright p{
    color: #444549;
    font-size: 14px !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/*==========================================
              FOOTER PART END
===========================================*/































